/* CountryCard.css */

.country-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    /* Adjust the width as needed */
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 200px;
    /* Set the desired fixed height */
    overflow: hidden;
    /* Hide content that overflows the fixed height */
}

.country-card img {
    max-width: 100%;
    max-height: 100%;
    /* Ensure the image fits within the fixed height */
    width: auto;
    height: auto;
    box-shadow: 0px 2px 4px rgba(4, 51, 113, 0.5);
    /* Use #043371 for the box shadow color */
    /* Add a box shadow to the image */
}

.country-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #043371;
    overflow: hidden;
    /* Hide text that overflows the fixed height */
    white-space: nowrap;
    /* Prevent text from wrapping */
    text-overflow: ellipsis;
    /* Add ellipsis for long text */
}