@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

input,
select,
textarea {
    height: 45px;
    border: 1px solid #8c9295;
    padding: 0 10px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #053f62;
}

textarea {
    min-height: 80px;
    padding: 10px;
}

button {
    height: 45px;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    padding: 0 20px;
}

.btn-primary {
    background-color: #2563EB;
    cursor: pointer;
    color: #fff;
    border: 1px solid #042367;
}

.btn-outlined {
    background-color: #fff;
    cursor: pointer;
    color: #2563EB;
    border: 1px solid #2563EB;
}

.btn-outlined-cancel {
    background-color: #fff;
    cursor: pointer;
    color: #de630b;
    border: 1px solid #de630b;
}

.btn-outlined-cancel
:hover {
    background-color: #de630b;
    color: #fff;
}

.btn-disabled {
    background-color: #8c9295;
    color: #fff;
    cursor: not-allowed;
    pointer-events: none;
}

/* a {
    text-decoration: underline;
    color: #1707f5;
} */